
#aboutMePrompt {
  width: 25vmin;
  z-index: 1;
  position: absolute;
  top: 0;
  margin: auto;
}

#aboutMePromptIcon {
  width: 2vmin;
  z-index: 1;
  margin: auto;
}

a:link #aboutMePrompt, a:visited #aboutMePrompt {
  color: #222;
  opacity: 1;
}
a:hover #aboutMePrompt {
  color: #222;
  opacity: 0.5;
}

a:link .link, a:visited .link {
  opacity: 1;
}
a:hover .link {
  opacity: 0.5;
}

h3 a:link, h3 a:visited {
  text-decoration: none;
  color: #222;
  opacity: 1;
}
h3 a:hover {
  text-decoration: none;
  color: #222;
  opacity: 0.5;
}

#frontpageCanvas {
  align-self: center;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: visible;
  white-space: nowrap;
  z-index: 1;
  position: absolute;
}

#mazeSolverCanvas {
  align-self: center;
  color: white;
  width: 50vw;
  height: 100vh;
  overflow: visible;
  white-space: nowrap;
  z-index: 1;
  position: absolute;
}

#scrollIndicator {
  width: 2vw;
  height: auto;
  z-index: 20;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 50vw;
  bottom: 5vh;
}

#extLinks {
  width: 5vw;
  height: 5vw;
  z-index: 20;
  position: fixed;
  top: 2.5vmax;
  margin: 0 95vmax;
}

#name {
  align-self: center;
  margin: 60vmin 0;
  text-align: center;
  color: white;
  width: 100vw;
  height: 10vh;
  overflow: visible;
  white-space: nowrap;
  z-index: 10;
}

#picOfMe {
  position: absolute;
  width: 30vw;
  height: 30vh;
}

#details {
  position: absolute;
  top: 50vh;
  width: 40vw;
  height: 30vh;
}

#gif {
  position: absolute;
  width: 50vw;
  height: auto;
  top: 10vh;
  left: 25vw;
  margin: auto;
}


h1 {
  font-family: courier, "courier new", monospace;
  font-size: 10vmin;
  color: #222;
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 2vmin;
}

h2 {
  font-family: courier, "courier new", monospace;
  font-size: 10vmin;
  color: #222;
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 2vmin;
  line-height: 24px;
  margin: 6vh 0vw;
}

h3 {
  font-family: courier, "courier new", monospace;
  font-size: 3.5vmin;
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
  text-align: left;
  margin: 0 0 4vh 0;
}

h4 {
  font-family: courier, "courier new", monospace;
  font-size: 4vmin;
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
  text-align: center;
  margin: 0;
}

h5 {
  font-family: courier, "courier new", monospace;
  font-size: 5vmin;
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
  text-align: center;
  margin: 0 0 4vh 0;
}

p {
  font-family: courier, "courier new", monospace;
  font-size: 2.5vmin;
  color: #222;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  letter-spacing: 0.25vmin;
  margin: 0 4vw;
}

.projectTextFull {
  margin: 0 0;
  width: 100vw;
  position: absolute;
}

.projectText {
  margin: 0 0;
  width: 50vw;
  position: absolute;
}

.projectExample {
  background-color: #222;
  width: 50vw;
  height: 100vh;
  position: absolute;
}

.scrollSegment {
  width: 4vmin;
  height: auto;
  z-index: 20;
  margin: auto;
  position: relative;
}

.link {
  width: 5vmin;
  height: auto;
  z-index: 20;
  margin: auto;
  position: relative;
}

.sectionBg{
  z-index: -10;
}

.darkenFilter{
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}

.fitToParent {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  overflow: hidden;
}

.section {
  align-self: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 0;
  overflow: hidden;
  scroll-snap-align: start;
}

.page {
  margin: 0;
  scroll-snap-type: y mandatory;
  background-color: #fda;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .projectExample {
    width: 0vw;
  }
  .projectText {
    width: 100vw;
  }
  h2 {
    font-size: 20vmin;
    letter-spacing: 2vmin;
    line-height: 24px;
  }
  h5 {
    font-size: 5vmin;
    margin: 0 0 4vh 0;
  }
  p {
    font-size: 4vmin;
    margin: 0 4vw;
  }
}


html, body {
  scroll-behavior: smooth;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.mazeSolver {
  background-color: #def;
}

.crypto {
  background-color: #baf;
}

.chess {
  background-color: #efa;
}

.djikstra {
  background-color: #afc;
}

.termgames {
  background-color: #fae;
}

.myInfo {
  background-color: #aef;
}
