

*{
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 100vmin;
  height: 100vmin;
  background-color: rgb(225, 255, 255);
  margin: auto;
}

#aboutMePromptIcon {
  width: 2vmin;
  z-index: 1;
  margin: auto;
}

a:link #aboutMePrompt, a:visited #aboutMePrompt {
  color: #222;
  opacity: 1;
}

a:hover #aboutMePrompt {
  color: #222;
  opacity: 0.5;
}

a:link .link, a:visited .link {
  opacity: 1;
}

a:hover .link {
  opacity: 0.5;
}

h3 a:link, h3 a:visited {
  text-decoration: none;
  color: #222;
  opacity: 1;
}
h3 a:hover {
  text-decoration: none;
  color: #222;
  opacity: 0.5;
}

#frontpageCanvas {
  align-self: center;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: visible;
  white-space: nowrap;
  z-index: 1;
  position: absolute;
}

#mazeSolverCanvas {
  align-self: center;
  color: white;
  width: 50vw;
  height: 100vh;
  overflow: visible;
  white-space: nowrap;
  z-index: 1;
  position: absolute;
}

#scrollIndicator {
  width: 2vw;
  height: auto;
  z-index: 20;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 50vw;
  bottom: 5vh;
}

#extLinks {
  width: 5vw;
  height: 5vw;
  z-index: 20;
  position: fixed;
  top: 2.5vmax;
  margin: 0 95vmax;
}

#name {
  align-self: center;
  margin: 60vh 0;
  text-align: center;
  color: white;
  width: 100vw;
  height: 10vh;
  overflow: visible;
  white-space: nowrap;
  z-index: 10;
}

#picOfMe {
  position: absolute;
  width: 35vmin;
  height: 35vmin;
  margin: 0 10vmin;
  border-radius: 5vmin;
}

#details {
  position: absolute;
  top: 55vh;
  width: 40vw;
  height: 30vh;
  padding-left: 2.5vw;
}

#gif {
  position: absolute;
  width: 50vw;
  height: auto;
  top: 10vh;
  left: 25vw;
  margin: auto;
}


h1 {
  font-size: 5vw;
  font-family: Courier;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 10vmin;
  position: absolute;
  width: 50%;
  left: 25%;
  right: 25%;
  top: 25%;
  text-align: center;
  white-space: nowrap;
}

h2 {
  font-size: 2.5vw;
  font-family: Courier;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 5vmin;
  position: absolute;
  width: 50%;
  left: 25%;
  right: 25%;
  top: 35%;
  text-align: center;
}

p {
  display: block;
  font-size: 2vw;
  font-family: Courier;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 4vmin;
  right: 10%;
}

a {
  all: unset;
}

img {
  width: 10%;
  margin: 5%;
}

.link {
  width: calc(45% - 8px);
  height: 100%;
  margin: 2.5%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.github {
  border: 4px solid #171515;
}
.github:hover {
  background: #17151570;
}
.linkedin {
  border: 4px solid #0e76a8;
}
.linkedin:hover {
  background: #0e76a870;
}
.resume {
  margin-left: calc(27.5% + 4px);
  border: 4px solid #000000;
}
.resume img {
  filter: invert(25%) sepia(21%) saturate(1181%) hue-rotate(71deg) brightness(97%) contrast(87%);
}
.resume:hover {
  background: #27543070;
}

#buttonHolder {
  position: absolute;
  width: 30%;
  height: 10%;
  left: 35%;
  right: 35%;
  top: 45%;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgb(150, 210, 255);
}
